#root{
    --c50: #edfcf3;
    --c100:#d3f8e1;
    --c200: #aaf0c9;
    --c300: #73e2ab;
    --c400: #4ed194;
    --c500: #17b26f;
    --c600: #0b905a;
    --c700: #09734a;
    --c800: #0a5b3c;
    --c900: #094b33;
}